#mainNav{
    background-color: rgb(49, 48, 48);
    height: 80px;
    color : white;
    padding-top: 10px;
    font-size: 20px;
}
#searchBox{
    width:300px;
    height: 30px;
    background-color: white;
    color: black;
    border-radius: 20px;
}
#select{
    width: 280px;
    border-radius: 20px;
    text-align: center;
    font-weight: 500;
}